<div class="row">
  <div class="col l6 offset-l3">
    <h4 class="center">Registrazione</h4>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <br>
    <br>
    <br>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.email_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caratteri minimo)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :Conferma_password %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

    <br>
    <br>

  <div class="actions">
    <%= f.submit "Registrati", class:"waves-effect waves-light btn btn-devise" %>
  </div>

    <br>
    <br>

    <% end %>

    <%= render "devise/shared/links" %>

    <br>
    <br>

  </div>

</div>






