 <!-- Barra di navigazione fissa e responsive di Materialize -->
   <header class="navbar-fixed">
    <nav class="orange accent-3">
      <div class="container nav-wrapper">
        <%= link_to "CorsoLacerba", root_path, class: "brand-logo" %>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Chi Siamo", about_path %></li>
          <li><a href="#">Contattaci</a></li>
          <li><a href="#">Progetto</a></li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Chi Siamo", about_path %></li>
      <li><a href="#">Contattaci</a></li>
      <li><a href="#">Progetto</a></li>
    </ul>
   </header>  